﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <button class="btn btn-primary" id="art-search">Load Art</button>

    <hr />

    <div class="row g-3" id="art-data">
    </div>
</div>
@section Scripts{
    <script src="~/js/artwork.js" asp-append-version="true"></script>
}